.metadata
bin/
tmp/
*.tmp
*.bak
local.properties
.settings/
target/
weddingImages/
.loadpath
.recommenders

# Eclipse Core
.project

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific (C/C++ Development Tooling)
.cproject

# JDT-specific (Eclipse Java Development Tools)
.classpath

# sbteclipse plugin
.target

